:erb
	<% provide(:bodyclass, "account") %>

.container-fluid.animated.fadeInDown
	#header.classfix
		Accounts
		.pull-left
			= link_to raw("<i class='icon-arrow_doubled_left'></i>"), home_index_path , { :class => "btn btn-mini btn-info" }
		.pull-right
			= link_to raw("<i class='icon-plus'></i>"), new_account_path , { :class => "btn btn-mini btn-info" }
	%ul
		-if @all_user_accounts.cash.count > 0
			%li.type-title 
				Cash
				%span.pull-right
					$
					= @all_user_accounts.cash.sum("balance")
			- @all_user_accounts.cash.each do |cash|
				%a{ :href => edit_account_path(cash.id) }
					%li.type-cash
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= cash.name
						%span.balance
							$
							= cash.balance
		-if @all_user_accounts.credit_card.count > 0
			%li.type-title
				Credit Card
				%span.pull-right
					$
					= @all_user_accounts.credit_card.sum("balance")
			- @all_user_accounts.credit_card.each do |credit_card|
				%a{ :href => edit_account_path(credit_card.id) }
					%li.type-credit-card
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= credit_card.name
						%span.balance
							$
							= credit_card.balance
		-if @all_user_accounts.bank.count > 0
			%li.type-title
				Bank Account
				%span.pull-right
					$
					= @all_user_accounts.bank.sum("balance")
			- @all_user_accounts.bank.each do |bank|
				%a{ :href => edit_account_path(bank.id) }
					%li.type-bank
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= bank.name
						%span.balance
							$
							= bank.balance
		-if @all_user_accounts.emoney.count > 0
			%li.type-title
				Electronic Money
				%span.pull-right
					$
					= @all_user_accounts.emoney.sum("balance")
			- @all_user_accounts.emoney.each do |emoney|
				%a{ :href => edit_account_path(emoney.id) }
					%li.type-emoney
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= emoney.name
						%span.balance
							$
							= emoney.balance
	%p= @uid
