:erb
	<% provide(:bodyclass, "account") %>

.container-fluid.animated.fadeInDown
	#header.classfix
		Accounts
		.pull-left
			= link_to raw("<i class='icon-arrow_doubled_left'></i>"), home_index_path , { :class => "btn btn-mini btn-info" }
		.pull-right
			= link_to raw("<i class='icon-plus'></i>"), new_account_path , { :class => "btn btn-mini btn-info" }
	%ul
		-if @cash_accounts.count > 0
			%li.type-title 
				Cash
				%span.pull-right
					$
					= @cash_sum
			- @cash_accounts.each do |cash|
				%a{ :href => edit_account_path(cash.id) }
					%li.type-cash
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= cash.name
						%span.balance
							$
							= cash.balance
		-if @credit_card_accounts.count > 0
			%li.type-title
				Credit Card
				%span.pull-right
					$
					= @credit_card_sum
			- @credit_card_accounts.each do |credit_card|
				%a{ :href => edit_account_path(credit_card.id) }
					%li.type-credit-card
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= credit_card.name
						%span.balance
							$
							= credit_card.balance
		-if @bank_accounts.count > 0
			%li.type-title
				Bank Account
				%span.pull-right
					$
					= @bank_sum
			- @bank_accounts.each do |bank|
				%a{ :href => edit_account_path(bank.id) }
					%li.type-bank
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= bank.name
						%span.balance
							$
							= bank.balance
		-if @emoney_accounts.count > 0
			%li.type-title
				Electronic Money
				%span.pull-right
					$
					= @emoney_sum
			- @emoney_accounts.each do |emoney|
				%a{ :href => edit_account_path(emoney.id) }
					%li.type-emoney
						%i.icon-chevron_right.pull-right.icon2x
						%span.title= emoney.name
						%span.balance
							$
							= emoney.balance
	%p= @uid