:erb
	<% provide(:bodyclass, "account-new") %>

.container-fluid.animated.fadeInDown
	#header.clearfix
		New Account
		.pull-left
			= link_to raw("<i class='icon-arrow_doubled_left'></i>"), account_index_path , { :class => "btn btn-mini btn-info" }

	- if @account.errors.any?
		%ul#error
			- @account.errors.each do |attr,msg|
				%li= msg

	= form_for @account, :url => { :action => "create" } do |f|
		.control-group
			= f.label :account_type
			= f.select( :account_type , [["Choose One ...", ""],["Cash", "cash"], ["Credit Card", "credit_card"], ["Bank Account", "bank"], ["Electronic Money", "emoney"]])
		.control-group
			= f.label :name, "Account Name"
			= f.text_field :name, :placeholder => "Cash, Bank Name ..."
		.control-group
			= f.label :balance, "Account Balance"
			= f.text_field :balance, :placeholder => "$", :pattern => "\\d*"
		.control-group
			%span.pull-left.for-toggle
				For Saving?
			.pull-right	
				.toggle.toggle-icon.toggle-off
					%label.toggle-radio{ :for => "account_not_count_1" }
						%i.icon-check
					= f.radio_button :not_count, 1
					%label.toggle-radio{ :for => "account_not_count_0" }
						%i.icon-cross_mark
					= f.radio_button :not_count, 0, :checked => "checked"
		.form-actions= f.submit "Submit", :class => "btn btn-info btn-large btn-block"

:javascript
	$("select").dropkick();